* {
  font-family: "Anta";
}

html {
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

body {
  padding: 10px;
  background-color: black;
  background-image: linear-gradient(white, black); 
  background-repeat: no-repeat;
  color: white;
}

footer {
  margin-top: 10px;
  background-color: white;
  color: black;
  padding: 10px 5px 20px 5px;
  text-align: center;
}

h1 {
  font-size: 42.2px;
  margin-right: 22px;
  margin-top: 1px;
  margin-bottom: 1px;
}

h2 {
  margin: 2px;
  color: cyan;
}

header {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

nav {
  margin-top: 4px;
  margin-bottom: 2px;
}

nav > button {
  display: inline-flex;
  color: white;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
  background-color: black;
  border: 2px solid white;
  width: 87px;
  justify-content: center;
  transition-duration: 0.2s;
}

button:hover{
  background-color: white;
  color: black;
}

section {
  background-color: black;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.borderblue {
  border: 4px solid cyan;
  border-radius: 10px;
}

.box {
  display: inline-block;
}

.pack {
  display: inline;
}

.flag {
  display: inline-flex;
  width: 150px;
  height: 60px;
}

.tran {
  margin-left: 2px;
  margin-right: 20px;
  margin-top: 7px;
  border: 4px solid cyan;
  background-color: transparent;
}

.flex-box {
  display: inline-flex;
  background-color: black;
  margin-right: 6px;
  margin-top: 10px;
}

.flex-box > img {
  margin-left: 1px;
  display: block;
}

.follow {
  Background: white;
  width: 49px;
  height: 49px;
  padding: 4px;
  margin-top: 8px;
  margin-right: 21px;
  margin-left: 7px
}

.game-img {
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: 4px;
  margin-top: 18px;
  width: 124px;
  height: 124px;
  border-radius: 10px;
  display: inline-flex;
}

.profile {
  border-radius: 50%;
}

.video {
  display: flex;
  justify-content: center;
}

#alan {
  float: left;
  margin-right: 10px;
  padding-top: 2px;
}

#home, .en{
  display: block;
}

#images, #music, #videos, #games, .es{
  display: none;
}
