* {
  font-family: "Anta";
}

html {
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

body {
  padding: 10px;
  background-color: black;
  background-image: linear-gradient(white, black); 
  background-repeat: no-repeat;
  color: white;
}

footer {
  margin-top: 10px;
  background-color: white;
  color: black;
  padding: 10px 5px 20px 5px;
  text-align: center;
}

h1 {
  font-size: 52px;
  margin-right: 22px;
  margin-top: 12px;
  margin-bottom: 10px;
}

h2 {
  margin: 2px;
  color: cyan;
}

header {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

nav {
  margin-left: 1px;
  margin-top: 10px;
  margin-bottom: 2px;
}

button {
  display: inline-flex;
  color: white;
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
  background-color: black;
  border: 2px solid white;
  width: 100px;
  justify-content: center;
  transition-duration: 0.2s;
}

button:hover{
  background-color: white;
  color: black;
}

section {
  background-color: black;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.flex-box {
  display: inline-flex;
  background-color: black;
  border: 4px solid cyan;
  border-radius: 10px;
}

.flex-box > div {
  margin-left: 5px;
  margin-top: 10px;
}

.follow {
  display: inline-flex;
  Background: white;
  border: 4px solid cyan;
  border-radius: 10px;
  margin-left: 16px;
  margin-right: 14px;
  margin-top: 16px;
}

.game-img {
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: 16px;
  width: 124px;
  height: 124px;
  float: left;
  border-radius: 10px;
}

.profile {
  border-radius: 50%;
}

.video {
  display: flex;
  justify-content: center;
}

#alan {
  float: left;
  margin-right: 10px;
  padding-top: 2px;
}

#home {
  display: block;
}

#music, #videos, #games {
  display: none;
}